#hold {
    visibility: hidden;
}

html {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    background: linear-gradient(to right, #004358, #1F8A70);
    overflow: hidden;
}

body {
    margin: 0 auto;
    color: #EEEFF7;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

.container {
    margin-top: 2%;
}

.column {
    color: #EEEFF7;
    height: 100%;
}

.bigText {
    font-size: 20px;
}

.blackout {
    background: black;
    color: black;
}

button {
    z-index: 10;
    margin-top: 10px;
}

em {
    padding: 2px;
    font-size: 14pt;
}

#loc {
    color: red;
}

#locDescription {
    color: blue;
}

.message-body,
.modal-card {
    background-color: #31353D;
    color: #EEEFF7;
    color: #92CDCF;
    border: #445878;
}

.message-header {
    background-color: #1C1D21;
}

.modal {
    visibility: visible;
}