html {
    background: linear-gradient(to right, rgb(44, 9, 28), rgb(78, 156, 207));
    color: whitesmoke;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

.container {
    margin-top: 2%;
}

.column {
    color: whitesmoke;
    border-radius: 2%;
}