#hold {
    visibility: hidden;
}

html {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    background: linear-gradient(to right, rgb(44, 9, 28), rgb(78, 156, 207));
    overflow: hidden;
}

body {
    margin: 0 auto;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

.container {
    margin-top: 2%;
}

.column {
    color: whitesmoke;
    border-radius: 2%;
}

.bigText {
    font-size: 20px;
}

.blackout {
    background: black;
    color: black;
}

button {
    z-index: 10;
    margin-top: 10px;
}

em {
    padding: 2px;
    font-size: 14pt;
}

#loc {
    color: red;
}

#locDescription {
    color: blue;
}

.message-body {
    background-color: ghostwhite;
}